table td, table th {
  vertical-align: middle;
  text-align: center;
}

.btn.code-tools-button.dropdown-toggle {
  color: #343a40;
}

.dropdown-item {
  color: #343a40 !important;
}

.sidebar-logo.py-0.d-lg-inline.d-none {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Wyśrodkowanie całego floating sidebaru */
.sidebar-floating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Linki w sidebarze */
.sidebar-floating a {
  display: block;
  margin: 6px 0;
}

/* Opcjonalnie: nagłówek sidebaru */
.sidebar-floating .sidebar-title {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 1rem;
}

.menu-text {
  font-size: 17px;
  text-align: center;
}

p:has(img) {
  margin: 0 !important;
  padding: 0 !important;
}