/*-- scss:defaults --*/

/* 🎨 Twoje zmienne – nadpisują sandstone */
$primary:   #d84150;
$secondary: #3b3b3b;
$success:   #4CAF50;
$info:      #b51b26;
$warning:   #f0ad4e;
$danger:    #ff5252;

$body-bg: #fafafa;
$body-color: #222;

/*-- scss:rules --*/
/* Opcjonalnie Twoje własne style */
